# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Key files:
*.pem
*.csv

#serverless folder
.serverless
.serverless/*
node_modules
node_modules/*
*/node_modules
*/node_modules/*

#enviromental variables for vue
.env
*.env
.env*

#packagedfiles:
dependency-reduced-pom.xml
packaged-template.yml
packaged.yaml
packaged.yml

#parameters file
parameters.json

cf-deploy